.box{
    display: inline-block;
    background-color: aqua;
    width:150px;
    height:150px;
    border:1px solid black;

}

.boxex{
    background-color: antiquewhite;
    height:1500px;
}

#box1{
    position:static;
}

/* #box2{
    position:relative;
    top:30px;
    left:30px
} */

/* 
#box2{
    position:absolute;
    top:30px;
    left:30px
} */

#box3{
    position:sticky;
    top:30px;
    /* top:50px; */
}

