/* .box{
    background-color: aqua;
    width:100px;
    height:10px;
    margin:50px;
    padding:10px;
}

.box{

    /* transform: translate(1px,100px); */

    /* transform: rotate(45deg); */
/* 
    transform : skew(2 ,8);

} */

.box{
    height:100px;
    width:100px;
    background-color:aqua;
    border:1px solid black;
  }
  
  #translated {
    transform:persective(15px) translateZ(-10px);
  }



